*{
    box-sizing: border-box;
}



@font-face {
    font-family: 'OldEnglish'; /* Name your font family */
    src: url('fonts/OldEnglishFive-axyVg.ttf'); /* Locate the .ttf file within your directory*/
  }
@font-face {
    font-family: 'OldEnglishCool'; /* Name your font family */
    src: url('fonts/OldeEnglishRegular-Zd2J.ttf'); /*fon Locate the .ttf file within your directory*/
  }

html{
    font-size:14px;
    font-family: 'Times New Roman', serif;
    background-color: #ffffff;
    color: #ffffff; 
    background-image: url('images/water.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0b0b1a; 
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;

}

a{
    color: #00ffd0;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:19px;
    font-weight: bolder;
}
.container{
    margin: 20px;
    padding: 20px;
}
header{
    margin-inline: 10px;
}
footer{
    margin-inline: 10px;
}
.brand{
    font-size: 50px;
    font-family: 'OldEnglish', sans-serif;
    color: #00ffd5;
}
.subforum{
    margin-top: 20px;

}
.subforum-title{
    color: #ffffff;
    background-color: #2c8987;
    padding: 0.1px;
    border-radius: 3px;
    margin: 4px;
    font-family: 'OldEnglish', sans-serif;
}
.subforum-row{
    display: grid;
    grid-template-columns: 40% 60%;
}
.forum-row{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #123134;
}
.subforum-icon img{
    max-width: 250px;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subforum-divider{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #000000, #00d5ff, #000000);
}
.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    color: #ffffff; 
    background-image: url('images/sand.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0b0b1a; 
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    

    
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #00ffd5;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
  }
